body {
    margin: 0;
    font-family: "Georgia", "Segoe UI", sans-serif;
}
.hidden {
    display: none !important;
}
* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #337ab7;
}
